<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2">
                    <a class="LogIn btn-block" href="Register">Register</a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2">
                    <a class="LogIn btn-block" href="Login">Log in</a>
                </div>
            </div>
        </div>
        @*<a class="LogIn btn-block" href="Register">Register</a>
        <a class="LogIn btn-block" href="Login">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>

