
@using Newtonsoft.Json;
@using BBCollection.BBObjects;
@using BBCollection.DBHandling;
@using FrontEnd2.Data;

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-nav">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    bool openMiniBasket = false;

    void changeBasketState()
    {
        openMiniBasket = true;
    }

    void closeMiniBasket()
    {
        openMiniBasket = false;
    }

}
