<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BiksBudget</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglist">
                <span class="oi oi-cart" aria-hidden="true"></span> Shopping list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="storage">
                <span class="oi oi-box" aria-hidden="true"></span> Storage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="recipe">
                <span class="oi oi-layers" aria-hidden="true"></span> Recipes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
