@page "/"
@using BBCollection.BBObjects;
@using Newtonsoft.Json;
@inject HttpClientHandler  httpClientHandler
@inject HttpClient Http

<p> YEET</p>

<p>@printRecipe</p>

@foreach (var recipe in recipeData)
{
    <p>recipe: @recipe._Name</p>
}

@code{
    string printRecipe = "hej hej";
    List<Recipe> recipeData = new List<Recipe>();

    protected override async Task OnInitializedAsync() {

        printRecipe = await Http.GetStringAsync("https://localhost:44325/api/recipe?recipetitle=ris");

        recipeData = JsonConvert.DeserializeObject<List<Recipe>>(printRecipe);

    }
    //https://localhost:44325/api/recipe



}
