@page "/"
@inject HttpClient  Http

<p> YEET</p>

@code{
    //string printRecipe = "hej hej";

    //protected override async Task OnInitializedAsync() => printRecipe = await Http.GetStringAsync("https://localhost:44325/api/recipe");
    ////https://localhost:44325/api/recipe

    //<p>@printRecipe</p>

}
