@page "/"
@using BBCollection.BBObjects;
@using Newtonsoft.Json;
@inject HttpClientHandler  httpClientHandler
@inject HttpClient http

<p> YEET</p>

<p>@printRecipe</p>

@foreach (var recipe in recipeData)
{
    <p>recipe: @recipe._Name</p>
}

@code{
    string printRecipe = "hej hej";
    List<Recipe> recipeData = new List<Recipe>();

    protected override async Task OnInitializedAsync() {


        httpClientHandler.ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; };

        http = new HttpClient(httpClientHandler);

        printRecipe = await http.GetStringAsync("https://localhost:44325/api/recipe?recipeTitle=bov");

        recipeData = JsonConvert.DeserializeObject<List<Recipe>>(printRecipe);

    }
    //https://localhost:44325/api/recipe



}