@page "/recipe"

<div class="text-center md-form recipeSearch">

</div>
<div class="md-form">
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4 form-inline mx-auto md-form mb-4">
            <input type="text" class="form-control oi-underline recipeSearch" placeholder="Enter a Recipe name.." />
            <button class="btn btn-rounded btn-success recipeSearchBtn">Search</button>
        </div>
    </div>
</div>

@code {

}
