@page "/recipes"
@using BBCollection.BBObjects;
@using Newtonsoft.Json;
@inject HttpClient  Http


<h1>Recipes</h1>

@code
{
    String searchTerm = "";
    List<Recipe> recipes = new List<Recipe>();

    protected async Task SearchRecipe(string searchTerm)
    {
        String RecipiesList = await Http.GetStringAsync("https://localhost:44325/api/recipe/" + searchTerm);

        recipes = JsonConvert.DeserializeObject<List<Recipe>>(RecipiesList);
    }

}