@page "/Register"
@using BBCollection.BBObjects;
@using BBCollection.DBConncetion;
@using Newtonsoft.Json;
@using  System.Text;
@using FrontEnd2.Data;
@using System.Diagnostics;
@using FrontEnd2.Authentication;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage


@if (email == null)
{
    //sæt dem under hinanden
    <h1>Register</h1>
<div class="d-flex flex-column mb-3">
    <div class="p-2">
        <input class="SearchField SearchBar" placeholder="Username or e-mail" @bind="@tempEmail" autofocus/>
    </div>
    <div class="p-2">
        <p>
            Please use 6 or more characters. <br />
            Please refrain from using a 'space'. <br />
            Please refrain from using symbols (æ,ø,å is also considered a symbol). <br />
        </p>
    </div>
    <div class="d-sm-flex flex-row mb-3">
    <div class="p-2">
        <input class="SearchField SearchBar" type="password" placeholder="Password" @bind="@password" />
    </div>
    <div class="p-2">
        <input class="SearchField SearchBar" type="password" placeholder="Confirm password" @bind="@repPassword" @onkeyup="OnKeyPress" />
    </div>
    </div>
    <div class="p-2">
        <p>
            Please use 6 or more characters. <br />
            Please include atleast one upper and lower case letter. <br />
            Please refrain from using a 'space'. <br />
            Please use at least one symbol (æ,ø,å is also considered a symbol). <br />
        </p>
    </div>
    <div class="p-2">
        @if (isRegistering)
        {
            <button class="btn btn-rounded btn-outline-success search disabled" disabled><span class='fa-left fas fa-sync-alt spinning'></span>Logging in...</button>
        }
        else
        {
            <button class="btn btn-rounded btn-outline-success" @onclick="CheckInputs">Register</button>
        }
    </div>
</div>
    <label>@verificationText</label>
}
else
{
}

@code {
    private string email;
    private string tempEmail;
    private string password;
    private string repPassword;
    private string userString;
    private string verificationText = "";
    ConnectionSettings connectionSettings = new ConnectionSettings();

    bool isRegistering = false;

    ////protected async override Task OnInitializedAsync()
    //protected async void doStuff()
    //{
    //    if (email != null)
    //    {
    //        gottenData = await Http.GetStringAsync(connectionSettings.GetApiLink() + "api/Login/" + email);
    //    }
    //}

    protected void CheckInputs()
    {
        Verification verify = new Verification();

        Tuple<bool, string> usernameCheck = verify.VerifyUsername(tempEmail);
        Tuple<bool, string> passwordCheck = verify.VerifyPassword(password, repPassword);

        if (!usernameCheck.Item1)
        {
            verificationText = usernameCheck.Item2;
        }
        else if (!passwordCheck.Item1)
        {
            verificationText = passwordCheck.Item2;
        }

        if (usernameCheck.Item1 && passwordCheck.Item1)
        {
            RegisterUser(tempEmail);
        }
    }

    protected async void RegisterUser(string addEmail)
    {
        isRegistering = true;
        var response = new HttpResponseMessage();

        User user = new User(addEmail, password);

        List<Product> shoppingList = new List<Product>();
        Product[] shoppinglistArray = new Product[10];

        string ShopString = JsonConvert.SerializeObject(shoppingList);

        userString = JsonConvert.SerializeObject(user);

        var content = new StringContent(userString, Encoding.UTF8, "application/json");

        response = await Http.PostAsync(connectionSettings.GetApiLink() + "User/Register", content);

        if (response.IsSuccessStatusCode)
        {
            //await localStorage.SetItemAsync("ProductString", ShopString);
            await localStorage.RemoveItemAsync("Email");
            await localStorage.RemoveItemAsync("ProductString");
            await localStorage.SetItemAsync("Email", addEmail);
            isRegistering = false;
            StateHasChanged();
            NavigationManager.NavigateTo("shoppinglist");
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetLocalSession();
            localStorage.Changed += (sender, e) =>
            {
                Console.WriteLine($"Value for key {e.Key} changed from {e.OldValue} to {e.NewValue}");
            };

            if (email != null)
            {
                NavigationManager.NavigateTo("");

            }

            StateHasChanged();
        }

    }



    async Task GetLocalSession()
    {
        email = await localStorage.GetItemAsync<string>("Email");
    }

    private void OnKeyPress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
           CheckInputs();
        }
    }



}