@page "/shoppinglist"
@using Newtonsoft.Json;
@inject HttpClient Http

<h1>Shopping List</h1>

@if (coopProduct == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="ShoppingList">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Add To Storage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in coopProduct)
            {
            <tr>
                <td><button @onclick="(() => DeleteProduct(items.VareHierakiId))"><i class="oi oi-trash"></i></button></td>
                <td>@items.Navn</td>
                <td>@items.Navn2</td>
                <td>@items.Pris.ToString() kr</td>
                <td><button @onclick="(() => AddProductToStorage(items.VareHierakiId))"><i class="oi oi-basket"></i></button></td>
            </tr>
            }
        </tbody>
    </table>

    @if (coopProduct != null)
    {
        <input placeholder="A new Product" @bind="@newProduct" />
        <button @onclick="AddProduct">Create</button>
    }
}


@code{
    List<CoopProduct> coopProduct = new List<CoopProduct>();
    string productString;
    string newProduct;
    //private string newItem;

    protected async override Task OnInitializedAsync()
    {
        productString = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist");

        coopProduct = JsonConvert.DeserializeObject<List<CoopProduct>>(productString);
    }

    private void AddProduct()
    {
        // *Insert search method here*

        coopProduct.Add( new CoopProduct
        {
            Navn = newProduct,
            Navn2 = "-1 g.",
            Ean = "0000",
            Pris = -1,
            VareHierakiId = -1
        });

        newProduct = string.Empty;
    }

    private void DeleteProduct(int id)
    {
        coopProduct.Remove(coopProduct.First(x => x.VareHierakiId == id));
    }

    private void AddProductToStorage(int id)
    {
        // *Insert Add To Storage Method*

        coopProduct.Remove(coopProduct.First(x => x.VareHierakiId == id));
    }
}
