@page "/shoppinglist"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc;
@inject HttpClient Http
@using System.Text;
@using System.Net.Http.Headers;


<h1>Shopping List</h1>

@if (coopProduct == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="ShoppingList">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Remove / To Storage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in coopProduct)
                    {
                        <tr>
                            <td>@items.Navn</td>
                            <td>@items.Navn2</td>
                            <td>@items.Pris.ToString() kr</td>
                            <td>
                                <div class="text-center">
                                    <button @onclick="(() => AddProductToStorage(items.VareHierakiId))"><i class="oi oi-basket"></i></button>
                                    <button @onclick="(() => DeleteProduct(items.Id))"><i class="oi oi-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (coopProduct != null)
            {
                <input placeholder="A new Product" @bind="@newProduct"/>
                <button @onclick="AddProduct">Create</button>
            }
        </div>
    </div>
}


@code{
    List<CoopProduct> coopProduct = new List<CoopProduct>();
    string productString;
    string newProduct;
    //bool isDone = false;
    //private string newItem;

    protected async override Task OnInitializedAsync()
    {
        productString = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist");

        coopProduct = JsonConvert.DeserializeObject<List<CoopProduct>>(productString);
    }

    protected double CompletePrice()
    {
        double result = 0;

        foreach (var item in coopProduct)
        {
            result += item.Pris;
        }
        return result;
    }

    private async void AddProduct()
    {
        // *Insert search method here*
        var response = new HttpResponseMessage();


        coopProduct.Add(new CoopProduct
        {
            Navn = newProduct,
            Navn2 = "Name two",
            Ean = "Item Number (EAN)",
            Pris = 0.00,
            VareHierakiId = 0000,
            Id = coopProduct.Count() + 1
        });

        productString = JsonConvert.SerializeObject(coopProduct[coopProduct.Count - 1]);
        var content = new StringContent(productString, Encoding.UTF8, "application/json");
        response = await Http.PostAsync("https://localhost:44325/api/Shoppinglist", content);

        string result = response.Content.ReadAsStringAsync().Result;

        newProduct = string.Empty;
    }

    private async void DeleteProduct(int id)
    {
        var response = new HttpResponseMessage();
        coopProduct.Remove(coopProduct.First(x => x.Id == id));

        int i = 1;
        foreach (var product in coopProduct)
        {
            product.Id = i;
            i++;
        }

        //var response = await Http.DeleteAsync("https://localhost:44325/api/ApiWithActions/" + id);
        productString = JsonConvert.SerializeObject(coopProduct);
        var content = new StringContent(productString, Encoding.UTF8, "application/json");
        response = await Http.PostAsync("https://localhost:44325/api/Shoppinglist", content);
    }

    private void AddProductToStorage(int id)
    {
        coopProduct.Remove(coopProduct.First(x => x.Id == id));
    }

    private async void SaveList()
    {
        productString = JsonConvert.SerializeObject(coopProduct);

        string stuff = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist/5/" + productString);
        //await Http.PostAsync("https://localhost:44325/api/Shoppinglist/save" + productString, new StringContent(productString));

        //var stringContent = new StringContent(productString);

        //HttpResponseMessage result = await Http.PostAsync("https://localhost:44325/api/Save", stringContent);

    }
}
