@page "/shoppinglist"
@using Newtonsoft.Json;
@inject HttpClient Http
@using FrontEnd2.Data;



<h1>Shopping List</h1>

@if (ListFunc.itemList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container">
        <div class="row col-md-12">
            <table class="ShoppinglistTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Remove / To Storage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in ListFunc.itemList)
                    {
                        <tr>
                            <td>@items.Navn</td>
                            <td>@items.Navn2</td>
                            <td>@items.Pris.ToString() kr</td>
                            <td>
                                <div class="text-center">
                                    <button @onclick="(() => AddProductToStorage(items.Id))"><i class="oi oi-basket"></i></button>
                                    <button @onclick="(() => DeleteProduct(items.Id))"><i class="oi oi-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ListFunc.itemList != null)
            {
                <input placeholder="A new Product" @bind="@newProduct"/>
                <button @onclick="AddProduct">Create</button>
            }
        </div>
    </div>
}


@code{
    string productString;
    string newProduct;
    ShoppinlistFunctionality ListFunc = new ShoppinlistFunctionality("api/Shoppinglist");
    HttpResponseMessage responseMessage = new HttpResponseMessage();

    protected async override Task OnInitializedAsync()
    {
        responseMessage = await ListFunc.GetProductsOnStart();
    }

    protected double CompletePrice()
    {
        double result = 0;

        foreach (var item in ListFunc.itemList)
        {
            result += item.Pris;
        }
        return result;
    }

    private async void AddProduct()
    {
        CoopProduct newItemObject = new CoopProduct() { Ean = "", Id = 0, Navn = newProduct, Navn2 = "", Pris = 0.00, VareHierakiId = 0 };

        newProduct = string.Empty;
        
        responseMessage = await ListFunc.AddProductToList(newItemObject);
    }

    private async void DeleteProduct(int id)
    {
        responseMessage = await ListFunc.DeleteProduct(id);
    }

    private async void AddProductToStorage(int id)
    {
        ListFunc.AddProductToStorage(id, "api/Storage");
        responseMessage = await ListFunc.DeleteProduct(id);

        //ListFunc.itemList.Remove(ListFunc.itemList.First(x => x.Id == id));
    }

    private async void SaveList()
    {
        productString = JsonConvert.SerializeObject(ListFunc.itemList);

        string stuff = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist/5/" + productString);
        //await Http.PostAsync("https://localhost:44325/api/Shoppinglist/save" + productString, new StringContent(productString));

        //var stringContent = new StringContent(productString);

        //HttpResponseMessage result = await Http.PostAsync("https://localhost:44325/api/Save", stringContent);
    }
}
