@page "/shoppinglist"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc;
@inject HttpClient Http
@using System.Text;
@using System.Net.Http.Headers;

<h1>Shopping List</h1>

@if (coopProduct == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="ShoppingList">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Add To Storage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in coopProduct)
            {
                <tr>
                    <td>
                        <button @onclick="(() => DeleteProduct(items.Id))"><i class="oi oi-trash"></i></button>
                    </td>
                    <td>@items.Navn</td>
                    <td>@items.Navn2</td>
                    <td>@items.Pris.ToString() kr</td>
                    <td>
                        <button @onclick="(() => AddProductToStorage(items.VareHierakiId))"><i class="oi oi-basket"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="SaveList">Save Progress</button>

    @if (coopProduct != null)
    {
        <input placeholder="A new Product" @bind="@newProduct" />
        <button @onclick="AddProduct">Create</button>

    }
}


@code{
    List<CoopProduct> coopProduct = new List<CoopProduct>();
    string productString;
    string newProduct;
    bool isDone = false;
    //private string newItem;

    protected async override Task OnInitializedAsync()
    {
        productString = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist");

        coopProduct = JsonConvert.DeserializeObject<List<CoopProduct>>(productString);
    }

    private async void AddProduct()
    {
        // *Insert search method here*
        var httpResponse = new HttpResponseMessage();


        coopProduct.Add(new CoopProduct
        {
            Navn = newProduct,
            Navn2 = "EMPTY",
            Ean = "EMPTY",
            Pris = 0.00,
            VareHierakiId = 0000,
            Id = coopProduct.Count() + 1
        });

        //var content = new FormUrlEncodedContent(coopProduct[coopProduct.Count - 1]);


        productString = JsonConvert.SerializeObject(coopProduct[coopProduct.Count - 1]);
        await Http.PostAsync("https://localhost:44325/api/Shoppinglist/my", new StringContent(productString, Encoding.UTF8, "application/json"));

        //stuff = await Http.GetAsync("https://localhost:44325/api/Shoppinglist/" + productString);
        //Http = new HttpClient();

        //httpResponse = await Http.PostAsync("https://localhost:44325/api/Shoppinglist/my", new StringContent(productString, Encoding.UTF8, "application/json"));

        //httpResponse.EnsureSuccessStatusCode();
        //string responseStr = await httpResponse.Content.ReadAsStringAsync();



        newProduct = string.Empty;
    }

    private async void DeleteProduct(int id)
    {
        coopProduct.Remove(coopProduct.First(x => x.Id == id));

        var isDone = await Http.DeleteAsync("https://localhost:44325/api/ApiWithActions/" + id);

        if (isDone.IsSuccessStatusCode == false)
        {
            Console.WriteLine("Pls Work");
        }

        int i = 1;

        foreach (var product in coopProduct)
        {
            product.Id = i;
            i++;
        }
    }

    private void AddProductToStorage(int id)
    {
        // *Insert Add To Storage Method*
        //await Http.DeleteAsync("https://localhost:44325/api/ApiWithActions/" + id);

        //coopProduct.Remove(coopProduct.First(x => x.Id == id));
    }



    private async void SaveList()
    {
        productString = JsonConvert.SerializeObject(coopProduct);

        string stuff = await Http.GetStringAsync("https://localhost:44325/api/Shoppinglist/5/" + productString);
        //await Http.PostAsync("https://localhost:44325/api/Shoppinglist/save" + productString, new StringContent(productString));

        //var stringContent = new StringContent(productString);

        //HttpResponseMessage result = await Http.PostAsync("https://localhost:44325/api/Save", stringContent);
    }
}
