@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
}

.absolute{
    position: absolute;
}
.LogIn {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    margin-right: 10px;
    margin-top: 2px;
}
.LogIn:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}
.LogIn:active {
    position: relative;
    top: 1px;
}
.dropdownListStrorage{
    text-align: center;
    text-shadow: none;
    outline-color: black;
    font-size: medium;
    height: auto;
}


.dropdown-toggle {
    position: relative;
    display: inline-block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    min-width: 100%;
    text-decoration: none;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.top-nav {
    width: 100%;
    height: 100px;
    background: url('https://image.shutterstock.com/image-photo/full-banner-wide-food-background-260nw-1037455726.jpg');
    background-size: cover;
}



.recipeSearch{
    width: 40%;
    height: 5%;
    text-align: center;
}
table.fixed {
    table-layout: fixed;
    word-break: break-all;
}

ul.fixed {
    width: 400px;
    word-break: break-all;
}

.no-bullets{
    list-style-type: none;
}

.increaseDecreaseBtn{
    padding-top: 0;
    padding-bottom: 0;
}

.ingredientsTable tr:hover {
    background-color: #f5f5f5;
}

.ingredientsTable th {
    background-color: slateblue;
    color: white;
}

#perPersonRecipe{
    display: inline-block;
}

.recipeDivDisplay {
    text-align: left;
    margin-top: auto;

}

.recipeListDisplay{
    height: 400px; 
    width: 20%;
    overflow: hidden; 
    overflow-y:scroll;
}

.recipeDestribtionDisplay {
    padding-top: 20px;
    padding-left: 50px;
}


.recipeDescribtion {
    width: 50%;
    height: auto;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
}
.top-nav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.dropdown-menu{
    padding-top: 0;
}

.ShoppinglistTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 15px 50px;
}

.ShoppinglistTable tr:hover {
    background-color: #f5f5f5;
}

.ShoppinglistTable th {
    background-color: slateblue;
    color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

a, .btn-link {
    /*color: #0366d6;*/
    color: white;
    font-size: 20px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    float: right;
    padding: 20px;
}

.btn-primary {
  color:#fff ;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;

}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
    text-shadow: none;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-shadow: none;
    float:left;
    /*font-size: 2vw;*/
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;

}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    /*color: red;*/
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .show-on-hover:hover > ul.dropdown-menu {
        display: block;
    }
}
