@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.fas.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

headlineCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#acSearchBar {
    position: relative;
    margin: 0px;
    padding: 0px;
}

#adSearchBBox {
    outline:none;
}

#acProductSearchInput {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0px;
    border: solid;
    border-width: 5px;
    border-color: #28a745;
    border-radius: 5px;
}

#acSearchButton {
    display: inline-block;
    width: 45px;
    position: relative;
    margin: 0px;
}


#filterBox {
}

.dropdown {
    display: inline-block;
    width: inherit;
    margin: 0px;
}

.dropdown:focus {
    outline:none !important;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.fa-left {
    margin-right: 7px;
}

.btn.search {
    width: 10rem;
}

.card-imgNew {
    width: auto;
    height:auto;
    max-width: 280px;
    min-height: 280px;
    
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
}
.textForTable{
    text-align: center;
}
/*Search field on search page*/
.SearchBar {
    width: 200px;
}
/*Used for Hello message by log out button*/
.fontColor {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*background-color: rgba(248, 249, 249, 0.5);*/
}
/*Check box in advanced search*/
.locationCheckBox {
    margin: auto;
    /*display: block;*/
}
/*Text in advanced search*/
.searchAdvancedText {
    text-align:center;
    display:block;
}

.invisibleBtn {
    opacity: 0.5;
    cursor: not-allowed;
}

.recipeSearch{
    max-width: 90%;
    margin: 10px;
}

.recipeSearchBtn{
    max-width: 100px;
    margin: 10px;
}

.btn-padding{
    margin-bottom:3px;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 12px;
    font-size: 12px;
}
#search{
    border: 0 1px 0 0;
}
/*When not using bootstrap flex*/
.SearchField {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 400px;
    margin: 2em;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: auto;
    border-color: salmon;
    border-width: 10px;
    border-style: solid;
    border-radius: 5em;
}

.miniBasket {
    backface-visibility: hidden;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    top: 30%;
    right: 20%;
    height: 70%;
    background: linear-gradient(to bottom, f5f7fa, #c3cfe2 );
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 100px -10px rgba(142,142,141,0.4);
}

.miniBasketHeader {
    height: 20%;
    width: inherit;

}

.miniBasketBody {
    height: 60%;
    width: inherit;

}

.miniBasketFooter {
    position: absolute;
    bottom: 0;
    height: 20%;
    background-color: #2c3e50;
}

.miniBasket-btn {
    font-family: "MetricLight","Helvetica","Arial",sans-serif;
    width: 100%;
    text-decoration: none;
    text-shadow: none;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    position: center;
    text-align: center;
}

/*.
{
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    margin-left: 5px;
    margin-top: 2px;
    max-width: 130px;
    min-width: 100px;
    max-height: 30px;
    min-height: 20px;
    position: center;
    text-align: center;
    float: right;
}*/
.LogIn:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}
.LogIn:active {
    position: relative;
    top: 1px;
}
.dropdownListStrorage{
    text-align: center;
    text-shadow: none;
    outline-color: black;
    font-size: medium;
    height: auto;
}


.dropdown-toggle {
    position: relative;
    display: inline-block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    min-width: 100%;
    text-decoration: none;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

card-store-img {
    width: 100px !important;
    height: 66px !important;
    object-fit: cover;
    position: relative;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.top-nav {
    width: 100%;
    height: 145px;
    background: url('https://image.shutterstock.com/image-photo/full-banner-wide-food-background-260nw-1037455726.jpg');
    background-size: cover;
}

.top-nav-emilie-bar{
   margin-top: 10px;
}




valueClass {
    margin: 0 auto;
    text-align: center;
}

.value-button {
    display: inline-block;
    /*border: 1px solid #ddd;*/
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    /*vertical-align: middle;*/
    padding: 11px 0;
    /*background: #eee;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

valueClass #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

valueClass #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

valueClass #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table.fixed {
    table-layout: fixed;
    word-break: break-all;
}

.top-margin{
    margin-top: 50px;
}

#recipeCard {
    transform: rotate(0);
    margin: 2em auto !important;
    
}

.recipe-top-margin {
    margin-top: 60px;
}

ul.fixed {
    width: 400px;
    word-break: break-all;
}

.no-bullets{
    list-style-type: none;
}

.recipeTitle {
    font-weight:bolder;
}

.increaseDecreaseBtn{
    padding-top: 0;
    padding-bottom: 0;
}

.ingredientsTable{
    height:200px;
    overflow: hidden;
    overflow-y: scroll;
}

.ingredientsTable tr:hover {
    background-color: #f5f5f5;
}

.ingredientsTable th {
    background-color: slateblue;
    color: white;
}

#perPersonRecipe{
    display: inline-block;
}

.buttonPadding{
   margin: 10px;
}
.card-img {
    width: 200%;
    height: 30px;
    object-fit: cover;
}

.amount p{
    font-weight:bold;
    color:black;
}
.price h5{
    font-weight: bolder;
    color:black;
}

/*.card-img-top {
    max-width: 200%;
    min-width: 50px;
    height: 30px;
}*/


.card-title {
    width: 100px;
    word-break:break-all;
}

.productListDisplay {
    max-height: 400px;
    min-height: 40px;
    overflow: hidden;
    overflow-y: scroll;
}

.recipeDivDisplay {
    text-align: left;
    margin-top: auto;
}

.recipeListDisplay{
    width:inherit;
    max-height: 400px;
    min-height: 40px;
    overflow: hidden;
    overflow-y:scroll;
}

.recipeDestribtionDisplay {
    padding-top: 20px;
    padding-left: 50px;
}


.recipeDescription {
    height: auto;
    text-align: left;
}
.top-nav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.dropdown-menu{
    padding-top: 0;
}

.ShoppinglistTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 15px 50px;
}

.ShoppinglistTable tr:hover {
    background-color: #f5f5f5;
}

.ShoppinglistTable th {
    background-color: slateblue;
    color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

a {
    /*color: #0366d6;*/
    color: black;
    font-size: 18px;
    font-weight: 300;
    float: left;
}

.btn-primary {
  color:#fff ;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 120px;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;

}

/*.main .top-row > a {
    margin-left: 1.5rem;
}*/

.sidebar {
    background: linear-gradient(black, grey);
    /*background-color: #3e3e3d;*/

}
 /*.sidebar .top-row {
     height: 180px;
    }*/


.sidebar .navbar-brand {
    font-size: 1.1rem;
    text-shadow: none;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

logo-header-wrapper {
    width: 100px;
    height: 100px;
    margin:0px;
    /*bottom: 40px;*/
}

.logo-header {
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/Pictures/logo.png');
    display: inline-block;
    /*position: relative;*/
    object-fit: contain;
    margin: 0;
    width:  160px;
    height: 100px;
}
.nav-item a{
    color:#d7d7d7;
    border-radius:4px;
    height:3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-shadow: none;
    float:left;
    width: 100%;
}
.nav-item a:active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color:white;
}




/*#form-buscar > .form-group > .input-group > .form-control {
    height: 40px;
}*/

/*#form-buscar > .form-group > .input-group > .input-group-btn > .btn {
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}*/

.center_div {
    margin: 0 auto !important;
    width: 100%; /* value of your choice which suits your alignment */
}

.glyphicon {
    margin-right: 12px;
}

.pull-left{
    margin-right: 7px;
}

product-search-bar {
    border-width: 5px;
    border-style: solid;
    border-color: #0BA428;
    border-radius: 7px;
    position: absolute;
}

.recipe-search-bar {
    border-width: 5px;
    border-style: solid;
    border-color: #0BA428;
    border-radius: 7px;
    z-index: 3;
    position: absolute;
}

.product-search-bar {
    border-width: 5px;
    border-style: solid;
    border-color: #0BA428;
    border-radius: 7px;
    z-index: 3;
}

.product-search-input {
    border-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.recipe-search-input {
    border-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.recipe-search-input:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

.recipe-search-input:focus::placeholder {
    color: transparent;
}

/* START lds-roller animation*/
#unloaded-roller{
    display:none;
}

.lds-roller {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20% auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #5cb85c;
        margin: -4px 0 0 -4px;
    }

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* END lds-roller*/

.recipe-search-button {
    border-radius: 0px;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    /*color: red;*/
}
.stackComponents {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 10px;
}



@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    .top-nav {
        display: none;
    }
    /*Log system on small screens*/
    .Log-btn-design {
        background: none;
        border: 1px solid transparent;
        font-size: 1.1rem;
        padding-left: 0;
    }

    .recipeSearchBtn {
        display: block;
    }

    .recipeDescription{
        width:100%;
        height:30%;
        font-size:small;
    }
    .recipeTitle{
        font-weight:bold;
        font-size: medium;
    }

    .miniBasketHeader{
        height:10%;
    }

    .miniBasketBody{
        height:80%;
    }

    .miniBasketFooter{
        height: 10%;
    }

    .sidebar {
        width: 100%;
        min-height: 50px;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .logo-header {
        height: 50px;
    }

    .top-row {
        max-height: 90px;
    }
    /*.Log-btn{
       background-color:red;
   }*/
    .productTable{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .miniBasket {
        width: 85%;
        height: auto;
        right: auto;
        top: 150%;
        backface-visibility: hidden;
        height: 70%;
        background: linear-gradient(to bottom, f5f7fa, #c3cfe2 );
        position: absolute;
        z-index: 1;
        box-shadow: 0 0 100px -10px rgba(142,142,141,0.4);
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        .card-img-top{
            display:none;
        }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
    /*Removes log buttons from Navmenu on big screens*/
    .Log-btn {
        display: none;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .show-on-hover:hover > ul.dropdown-menu {
        display: block;
    }

    .progress-bar {
        background-color: #0288d1;
    }

    /*.w-75 {
        width: 75% !important;
    }*/

    .progress-bar-animated {
        -webkit-animation: progress-bar-stripes 1s linear infinite;
        animation: progress-bar-stripes 1s linear infinite;
    }

    .progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem;
    }

    .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #ebc934;
        transition: width 5s ease;
    }



}
