@page "/"
@inject HttpClient  Http

<p> YEET</p>

@code{

    RecipeTitle recipeTitle = new RecipeTitle("default Title");
    RecipeTitle recipe2 = new RecipeTitle("desværre2");



    protected override async Task OnInitializedAsync()
    {
        recipe2 = await Http.GetJsonAsync<RecipeTitle>("https://localhost:44325/api/recipe");
        recipeTitle = await Http.GetJsonAsync<RecipeTitle>("https://localhost:44325/api/recipe");
    }

}

<p>my recipe: @recipeTitle._title</p>
<p>recipe 2: @recipe2._title</p>
